//copy from standard just-the-docs dark theme
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 10%);

// same background color as github
$body-background-color: #0D1117;

//white instead of blue text 
.nav-list-link {
  color: $grey-lt-300;
}
.nav-list-item{
  color: $grey-lt-300;
}
.site-button{
  color: $grey-lt-300;
}
#edit-this-page{
  color: $grey-lt-300;
}
.search-result {
  color: $grey-lt-300;
}
.search-result-icon{
  color: $grey-lt-300;
}
#search-input{
  color: $grey-lt-300;
}

.search-result-rel-url{
  display:none; // hide the URL
}




